name: commit-stage-monolith

on:
  push:
    branches: [ "main" ]
    paths:
        - 'monolith/**'
        - '.github/workflows/commit-stage-monolith.yml'
  pull_request:
    branches: [ "main" ]
    paths:
        - 'monolith/**'
        - '.github/workflows/commit-stage-monolith.yml'
  workflow_dispatch:

concurrency:
  group: commit-stage-monolith-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image-latest-url: ${{ steps.publish.outputs.image-latest-url }}
      image-digest-url: ${{ steps.publish.outputs.image-digest-url }}
      image-created-timestamp: ${{ steps.publish.outputs.image-created-timestamp }}

    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: 'Setup: Java'
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 25
        cache: maven
    
    - name: Make Maven Wrapper executable
      run: chmod +x ./mvnw
      shell: bash
      working-directory: monolith

    - name: Build with Maven Wrapper
      run: ./mvnw clean package -B
      working-directory: monolith

    - name: Downcase REPO
      run: |
        echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

    - name: Publish Docker Image
      id: publish
      uses: optivem/publish-docker-image-action@v1
      with:
        working-directory: monolith
        image-name: monolith
        registry: ghcr.io
        registry-username: ${{ github.actor }}
        image-namespace: ${{ env.REPO }}
        image-latest-tag: latest
        commit-sha: ${{ github.sha }}
        dockerfile: Dockerfile
      env:
        REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

  summary:
    needs: build
    runs-on: ubuntu-latest
    if: always()

    steps:
      
    - name: Commit Stage Summary
      uses: optivem/summarize-commit-stage-action@v1
      with:
        stage-result: ${{ needs.build.result }}
        success-artifact-url: ${{ needs.build.outputs.image-latest-url }}
